* {
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    font-size: 6vw;
    text-shadow: 1px 1px 3px black;
}

h3 {
    color: white;
    font-family: "Orbitron", sans-serif;
    font-weight: 800;
    font-size: 2vw;
    text-shadow: 1px 1px 3px black;
}

a {
    text-decoration: none;
}

a h2, a h3, p {
    transition-duration: 0.7s;
}

a h2:hover, a p:hover{
    text-decoration: underline;
    text-decoration-color: yellow;
    transform: translateX(-5%);
}

a .planet:hover {
    border-style: solid;
    border-color: yellow;
    text-decoration: underline;
    text-decoration-color: yellow;
    transition-duration: 0.7;
    text-decoration-thickness: 0.13vw;
}
                    
#container {
    height: 100vh;
    width: 100vw;
    background-color: #000312;
    overflow: hidden;
}

/* ----------------------------------------------------------------------------
FRONTPAGE
---------------------------------------------------------------------------- */

#front_menu {
    z-index: 2;
    position: relative;
    width: 25%;
    height: 19vw;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    left: 62%;
}

.planet {
    position: fixed;
    top: 50%;
    left: 28%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.sol.planet {
    background-color: yellow;
    height: 9vw;
    width: 9vw;
}

.merkur.planet {
    height: 0.4vw;
    width: 0.4vw;
    background-color: aliceblue;
    animation: merkurOrbit 1s linear infinite;
}

@keyframes merkurOrbit {
    from {
        transform: rotate(0deg) translateX(1300%) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(1300%) rotate(-360deg);
    }
}

.venus.planet {
    height: 1.2vw;
    width: 1.2vw;
    background-color: peachpuff;
    animation: venusOrbit 2.5s linear infinite;
}

@keyframes venusOrbit {
    from {
        transform: rotate(0deg) translateX(7vw) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(7vw) rotate(-360deg);
    }
}

.jorden.planet {
    height: 1.2vw;
    width: 1.2vw;
    background-color: skyblue;
    animation: jordenOrbit 4s linear infinite;
}

@keyframes jordenOrbit {
    from {
        transform: rotate(0deg) translateX(9vw) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(9vw) rotate(-360deg);
    }
}

.mars.planet {
    height: 0.8vw;
    width: 0.8vw;
    background-color: orange;
    animation: marsOrbit 7.5s linear infinite;
}

@keyframes marsOrbit {
    from {
        transform: rotate(0deg) translateX(11vw) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(11vw) rotate(-360deg);
    }
}

.jupiter.planet {
    height: 5vw;
    width: 5vw;
    background-color: darksalmon;
    animation: jupiterOrbit 47s linear infinite;
}

@keyframes jupiterOrbit {
    from {
        transform: rotate(0deg) translateX(19vw) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(19vw) rotate(-360deg);
    }
}

.saturn.planet {
    height: 4vw;
    width: 4vw;
    background-color: coral;
    animation: saturnOrbit 117s linear infinite;
}

@keyframes saturnOrbit {
    from {
        transform: rotate(0deg) translateX(25vw) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(25vw) rotate(-360deg);
    }
}

.uranus.planet {
    height: 2vw;
    width: 2vw;
    background-color: dodgerblue;
    animation: uranusOrbit 336s linear infinite;
}

@keyframes uranusOrbit {
    from {
        transform: rotate(0deg) translateX(30vw) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(30vw) rotate(-360deg);
    }
}

.neptun.planet {
    height: 2vw;
    width: 2vw;
    background-color: dodgerblue;
    animation: neptunOrbit 660s linear infinite;
}

@keyframes neptunOrbit {
    from {
        transform: rotate(0deg) translateX(34vw) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(34vw) rotate(-360deg);
    }
}

.pluto.planet {
    height: 0.2vw;
    width: 0.2vw;
    background-color: lightgrey;
    animation: plutoOrbit 1000s linear infinite;
}

@keyframes plutoOrbit {
    from {
        transform: rotate(0deg) translateX(37vw) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(37vw) rotate(-360deg);
    }
}

/* ----------------------------------------------------------------------------
PORTFOLIO
---------------------------------------------------------------------------- */

.stjerne.planet {
    background-color: yellow;
    height: 25vw;
    width: 25vw;
    left: 0;
}

.bane {
    border-style: dashed;
    border-color: white;
    left: 0;
    position: fixed;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.bane.bweb {
    width: 60vw;
    height: 60vw;
}

.pweb.planet {
    background-color: aliceblue;
    width: 3vw;
    height: 3vw;
    left: 30vw;
}

.bane.bux {
    width: 92vw;
    height: 92vw;
}

.planet h3 {
    position: relative;
    left: 80%;
    top: -3vw;
}

.pux.planet {
    background-color: peachpuff;
    width: 6vw;
    height: 6vw;
    left: 46vw;
}

.bane.bani {
    width: 127vw;
    height: 127vw;
}

.pani.planet {
    background-color: skyblue;
    width: 6vw;
    height: 6vw;
    left: 63.5vw;
}

.bane.bcontent {
    width: 160vw;
    height: 160vw;
}

.pcontent.planet{
    background-color: orange;
    width: 4vw;
    height: 4vw;
    left: 80vw;
}

.back {
    background-image: url(back.svg);
    width: 60px;
    height: 60px;
    position: fixed;
    top: 2.5vw;
    left: 2.5vw;
    z-index: 1;
    opacity: 0.75;
}

.back:hover, #left:hover, #right:hover, #more:hover {
    opacity: 1;
}

/* ----------------------------------------------------------------------------
UNDERSIDE
---------------------------------------------------------------------------- */

#graphics {
    width: 38vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#navigation {
    width: 20vw;
    height: auto;
    display: flex;
    justify-content: space-between;
}

#left {
    background-image: url(back.svg);
    height: 5vw;
    width: 5vw;
    opacity: 0.75;
}

#right {
    background-image: url(right.svg);
    height: 5vw;
    width: 5vw;
    opacity: 0.75;
}

.uplanet {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

.web {
    background-color: aliceblue;
}

.ux {
    background-color: peachpuff;
}

.animation {
    background-color: skyblue;
}

.content {
    background-color: orange;
}

.text {
    color: white;
    font-family: 'Chakra Petch';
    width: 42vw;
    position: relative;
    top: 12vw;
}

underside #container {
    display: flex;
    overflow: scroll;
    justify-content: space-evenly;
}

#videre {
    margin: 3vh 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: right;
    color: white;
}

#more {
    background-image: url(right.svg);
    height: 30px;
    width: 30px;
    opacity: 0.75;
    margin-right: 5vw;
}
